

.custom-carousel .slick-prev,
.custom-carousel .slick-next {
    font-size: 40px;
    color: rgb(0, 0, 0); 
  
  

   
    
    
    
}


/* .custom-carousel .slick-prev {
    left: -50px; 
  }
  
  .custom-carousel .slick-next {
    right: -50px; 
  } */


  .custom-carousel .slick-prev {
    left: 5px; 
  }
  
  .custom-carousel .slick-next {
    right: 5px; 
  }
  
  @media (min-width: 1024px) {
    .custom-carousel .slick-prev {
      left: -50px; 
    }
  
    .custom-carousel .slick-next {
      right: -50px; 
    }
  }




/* 

  .custom-carousel .slick-prev,
.custom-carousel .slick-next {
    width: 30px;      
    height: 30px;     
    background-color: transparent;  
    background-size: contain;      
    background-repeat: no-repeat;   
    background-position: center;   
    border: none;                   
}

.custom-carousel .slick-prev {
    background-image: url('../../public/icon/right-arrow.png'); 
    transform: rotate(180deg);  
    left: 20px; 
}

.custom-carousel .slick-next {
    background-image: url('../../public/icon/right-arrow.png');
    right: 20px; 
} */
